<div class="container settings-container">
  <div class="col-md-12 settings-background">
    <p class="text-left">UPDATE YOUR INFORMATION</p>
    <%= form_for(resource, as: resource_name, url: "/users", html: { method: :put }) do |f| %>
      <div class="field">
        <%= f.email_field :email, placeholder: "email", autofocus: true, class: "form-control" %>
      </div><br />

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.password_field :password, placeholder: "new password", autocomplete: "off", class: "form-control" %>
      </div><br />

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: "confirm new password", autocomplete: "on", class: "form-control" %>
      </div><br />

      <div class="field">
        <%= f.password_field :current_password, placeholder: "current password (required)", class: "form-control" %>
      </div><br />

      <div class="actions bottom-margin-form">
        <%= f.submit "Save your changes", class: "btn btn-primary button-100" %>
      </div>
    <% end %>
    <p class="text-center bottom-margin-form">OR<p>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary button-100" %>
  </div>
</div>
