<div class="container feed-container">
<div class="col-lg-10 user-feed">
  <% for item in @item_list %>
    <div class="col-lg-12 post">
     <%= render 'item_row', item: item %>
    </div>
  <% end %>
</div>

<div class="col-lg-2 sidenav">
    <div class="col-xs-12 region">
    <p>YOUR REGIONS</p>
    <% @user.preferred_regions.each do |region| %>
      <span><%= link_to region.name , '#', class: "btn btn-primary nav-black-button" %></span>
    <% end %>
    <span><%= link_to 'Submit Post', '#', class: "btn btn-primary nav-blue-button" %></span>
    <span><%= link_to 'Submit Event', '#', class: "btn btn-primary nav-blue-button" %></span>
    </div>
    <div class="col-xs-12 filter">
    <p>FILTER BY</p>
      <span><%= link_to 'Hot', "#", class: "btn btn-primary nav-pink-button" %></span>
      <span><%= link_to 'New', "#", class: "btn btn-primary nav-pink-button" %></span>
      <span><%= link_to 'Top', "#", class: "btn btn-primary nav-pink-button" %></span>
      <span><%= link_to 'Posts', "#", class: "btn btn-primary nav-pink-button" %></span>
      <span><%= link_to 'Events', "#", class: "btn btn-primary nav-pink-button" %></span>
    </div>
  <div class="col-xs-12 categories">
  <p>CATEGORIES</p>
    <% @categories.each do |category| %>
      <div>
        <%= link_to category.name, "#" , class: "btn btn-primary nav-black-button" %>
      </div>
    <% end %>
  </div>
</div>
</div>



