<div class="container">
  <h1>Edit Event</h1>
  <%= form_for([@region, @event]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :location%>
      <%= f.text_area :location, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.datetime_field :event_date, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.collection_select :city_id, City.all, :id, :name, class: "form-control" %>
    </div>
    <%= f.submit "Update Event", class: "btn btn-primary" %>
  <% end %>
</div>

