<div class="container">
  <h1>Create an Event</h1>
  <%= form_for([@region, @event]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :venue%>
      <%= f.text_area :venue, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.date_field :date, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :time %>
      <%= f.time_field :time, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.collection_select :city_id, City.all, :id, :name, {}, class: "form-control" %>
    </div>
    <%= f.submit "Create Event", class: "btn btn-primary" %>
  <% end %>
</div>

