<div class="container">
  <p>CREATE AN EVENT</p>
  <%= form_for([@region, @event]) do |f| %>
    <div class="field">
      <%= f.text_field :title, placeholder: "title", class: "form-control bottom-margin-form" %>
    </div>
    <div class="field">
      <%= f.text_area :body, placeholder: "body", class: "form-control bottom-margin-form" %>
    </div>
    <div class="field">
      <%= f.text_area :venue, placeholder: "venue", class: "form-control bottom-margin-form" %>
    </div>
    <div class="field">
      <%= f.date_field :date, class: "form-control bottom-margin-form" %>
    </div>
    <div class="field">
      <%= f.time_field :time, class: "form-control bottom-margin-form" %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.collection_select :city_id, City.all, :id, :name, {}, class: "form-control" %>
    </div>
    <%= f.submit "Create Event", class: "btn btn-primary" %>
  <% end %>
</div>

