<div class="container item-container">
  <div class="col-md-2"></div>
  <div class="col-md-8 settings-background">
    <h1><%= @event.title %></h1>
    <address><%= @event.venue %></address>
    <strong><%= "#{@event.date.strftime('%D')}" %></strong>
    <p><%= @event.body %></p>
    <div class="row">
      <%= react_component("CommentBoxApp", props: { comments: @event.comments, item_id: @event.id, item_type: @event.class.to_s }, prerender: false) %>
    </div>
    <div class="row">
      <%= link_to "< Back", region_path(@event.city.subregion.region), class: "btn inverse-primary-button" %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
