<!DOCTYPE html>
<html>
  <head>
    <title>Words & Moves</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body class="landing-body">
    <%= render 'layouts/flash_alerts' %>
    <div class="container subscribe-container text-center">
    <div class="row">
      <%= image_tag("logo-pink.png", class: "logo-subscribe") %>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h3>A community moderated platform for users to submit, vote, and discuss posts and events happening in their region.</h3>
        <h3>Currently only avaliable in:</h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag("dc-skyline.png", class: "city-logo") %>
        <h3>Washington DC Metro Area</h3>
      </div>
      <div class="col-md-6">
        <%= image_tag("dc-skyline.png", class: "city-logo") %>
        <h3>San Francisco Bay Area</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <h3>Subscribe to receive an alert once we're live</h3>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <%= form_for @subscriber do |f| %>
          <%= f.email_field :email, :required => false, class: "form-control" %>
          <span><%= f.submit "Subscribe", class: "btn btn-primary sign-in-button" %></span>
        <% end %>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    </div>
  </body>
</html>
