<div class="container">
  <p>SUBMIT A NEW POST</p>
  <%= form_for([@region, @post]) do |f| %>
    <div class="field">
      <%= f.text_field :title, placeholder: "title", class: "form-control bottom-margin-form" %>
    </div>
    <div class="field">
      <%= f.text_area :body, placeholder: "body", class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name, {}, class: "form-control" %>
    </div>
    <%= f.submit "Create Post", class: "btn btn-primary" %>
  <% end %>
</div>
