<div class="container item-container">
  <div class="col-md-2"></div>
  <div class="col-md-8 settings-background">
    <h1><%= @post.title %></h1>
    <i><%= "#{@post.created_at.strftime('%D')}" %></i>
    <p><%= @post.body %></p>
    <div class="row">
      <%= react_component("CommentBoxApp", props: { comments: @post.comments, item_id: @post.id, item_type: @post.class.to_s }, prerender: false) %>
    </div>
    <div class="row">
      <%= link_to "< Back", region_path(@post.region), class: "btn inverse-primary-button" %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
