<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="col-xs-6">
        <div class="row">
          <div class="logo-margin">
            <%= link_to image_tag('logo-pink.png', class: "logo"), root_path %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 text-right">
       <div class="row">
        <% if user_signed_in? %>
          <span><%= link_to 'My Feed', feed_path, class: "btn btn-primary sign-button" %></span>
          <span><%= link_to 'My Account', edit_user_registration_path, class: "btn btn-primary sign-button" %></span>
          <span><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary sign-button", form_class: "sign-out"%></span>
        <% else %>
          <%= link_to "Sign in or Sign up", new_user_session_path, class: "btn btn-primary sign-button"%>
        <% end %>
        </div>
        <div class="row">
          <span><%= link_to 'Explore', regions_path, class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'All', "#", class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'Submit Post', "#", class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'Submit Event', "#", class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'FAQ', "#", class: "btn btn-primary nav-button" %></span>
        </div>
      </div>
    </div>
  </div>
</nav>
