<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="col-xs-6">
        <div class="row">
          <div class="logo-margin">
            <%= link_to image_tag('logo-pink.png', width: '60%', height: '60%'), root_path %>
          </div>
        </div>
      </div>
      <div class="col-xs-6 text-right">
       <div class="row">
        <% if user_signed_in? %>
          <span><%= link_to 'My Feed', feed_path, class: "btn btn-primary sign-button" %></span>
          <span><%= link_to 'My Account', edit_user_registration_path, class: "btn btn-primary sign-button" %></span>
          <span><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary sign-button", form_class: "sign-out"%></span>
        <% else %>
          <%= link_to "Sign in or Sign up", new_user_session_path, class: "btn btn-primary sign-button"%>
        <% end %>
        </div>
        <div class="row">
          <span><%= link_to 'Explore', regions_path, class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'All', "#", class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'Submit Post', "#", class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'Submit Event', "#", class: "btn btn-primary nav-button" %></span>
          <span><%= link_to 'FAQ', "#", class: "btn btn-primary nav-button" %></span>
        </div>
      </div>
              <% if ['regions','posts','events'].include? params[:controller] %>
                <% unless params[:action] == ('index' || 'new') %>
                <div class="col-xs-12 category-nav">
                  <div class="col-xs-6 text-left category-nav">
                    <span><%= link_to @region.name, region_path(@region) , class: "btn btn-primary category-button" %></span>
                    <% @subregions.each do |subregion| %>
                      <span><%= link_to subregion.name, "#" , class: "btn btn-primary category-button" %></span>
                    <% end %>
                    <span><%= link_to 'Subscribe', '#' , class: "btn btn-primary subscribe-button" %>
                    </span>
                  </div>
                  <div class="col-xs-6 text-right category-nav">
                    <% @categories.each do |category| %>
                      <span><%= link_to category.name, "#" , class: "btn btn-primary category-button" %></span>
                    <% end %>
                  </div>
                </div>
                <% end %>
              <% end %>
    </div>
  </div>
</nav>
