<!DOCTYPE html>
<html>
  <head>
    <title>Words & Moves</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <% if params[:controller] == 'regions' && params[:action] != 'explore' %>
              <h2><%= @region.name %></h2>
            <% end %>
          </div>
          <div class="col-xs-6 text-right">
            <% if user_signed_in? %>
               <%= link_to current_user.username, edit_user_registration_path, class: "btn btn-primary sign-button" %>
            <% else %>
              <%= link_to "Sign in or Sign up", new_user_registration_path, class: "btn btn-primary sign-button"%>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
          <h1>Feed</h1>
          </div>
          <div class="col-xs-9 text-right feed-links">
            <span>[</span>
            <span><a href="/">Music</a></span>
            <span><a href="#about">Films</a></span>
            <span><a href="#">Arts</a></span>
            <span><a href="#">Sports</a></span>
            <span>]</span>
          </div>
        </div>
      </div>
    </nav>
  </head>

  <body>
    <%= render 'layouts/flash_alerts' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
