<!DOCTYPE html>
<html>
  <head>
    <title>Words & Moves</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash_alerts' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= console %>
  </body>
</html>
